In [1]:
a = [1,2,-5,0.3,6,-2,4] #numeric vector
b = ["one","two","three"] #character vevtor
c = [True,True,True,False,True] #logical vector
print(a)
print(b)
print(c)

[1, 2, -5, 0.3, 6, -2, 4]
['one', 'two', 'three']
[True, True, True, False, True]

In [2]:
#MATRIKS
import numpy as np
cells=[3,15,-27,38]
r_Rayhan=["R1","R2"]
c_Rayhan=["C1","C2"]
Rayhan_matrix=np.matrix(cells).reshape(2,2)
print(Rayhan_matrix)

[[  3  15]
 [-27  38]]

In [4]:
import pandas as pd
import numpy as np

Rayhan1=[1,2,3,4]
Rayhan2=["red","white","red",np.nan] #Menggunakan np.nan untuk mempresentasikan NA
Rayhan3=[True,True,True,False]

dataku=pd.DataFrame({'ID':Rayhan1,'Color':Rayhan2,'Passed':Rayhan3})
print(dataku)

   ID  Color  Passed
0   1    red    True
1   2  white    True
2   3    red    True
3   4    NaN   False

In [19]:
import pandas as pd

data_rayhan=pd.DataFrame({'id':list('abcdefghij'),'x':list(range(1,11)),'y':list(range(11,21))})
print(data_rayhan)

  id   x   y
0  a   1  11
1  b   2  12
2  c   3  13
3  d   4  14
4  e   5  15
5  f   6  16
6  g   7  17
7  h   8  18
8  i   9  19
9  j  10  20

In [6]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Obtaining dependency information for mysql-connector-python from https://files.pythonhosted.org/packages/d9/91/007a0d60fee8db4f7385075dc50bf62d2d359b417b374ec06b06ce6c2d64/mysql_connector_python-8.3.0-cp311-cp311-win_amd64.whl.metadata
  Downloading mysql_connector_python-8.3.0-cp311-cp311-win_amd64.whl.metadata (2.0 kB)
Downloading mysql_connector_python-8.3.0-cp311-cp311-win_amd64.whl (15.4 MB)
   ---------------------------------------- 0.0/15.4 MB ? eta -:--:--
   ---------------------------------------- 0.1/15.4 MB 3.3 MB/s eta 0:00:05
    --------------------------------------- 0.4/15.4 MB 4.5 MB/s eta 0:00:04
   - -------------------------------------- 0.6/15.4 MB 4.3 MB/s eta 0:00:04
   -- ------------------------------------- 0.8/15.4 MB 4.6 MB/s eta 0:00:04
   -- ------------------------------------- 1.1/15.4 MB 4.8 MB/s eta 0:00:04
   --- ------------------------------------ 1.4/15.4 MB 5.0 MB/s eta 0:00:03
   ---- ----------------------------------- 1.6/15.4 MB 5.1 MB/s eta 0:00:03
   ---- ----------------------------------- 1.9/15.4 MB 5.2 MB/s eta 0:00:03
   ----- ---------------------------------- 2.2/15.4 MB 5.3 MB/s eta 0:00:03
   ------ --------------------------------- 2.4/15.4 MB 5.3 MB/s eta 0:00:03
   ------- -------------------------------- 2.7/15.4 MB 5.4 MB/s eta 0:00:03
   ------- -------------------------------- 3.0/15.4 MB 5.4 MB/s eta 0:00:03
   -------- ------------------------------- 3.3/15.4 MB 5.5 MB/s eta 0:00:03
   --------- ------------------------------ 3.5/15.4 MB 5.5 MB/s eta 0:00:03
   --------- ------------------------------ 3.7/15.4 MB 5.4 MB/s eta 0:00:03
   ---------- ----------------------------- 4.0/15.4 MB 5.4 MB/s eta 0:00:03
   ---------- ----------------------------- 4.2/15.4 MB 5.3 MB/s eta 0:00:03
   ----------- ---------------------------- 4.3/15.4 MB 5.2 MB/s eta 0:00:03
   ----------- ---------------------------- 4.5/15.4 MB 5.1 MB/s eta 0:00:03
   ------------ --------------------------- 4.7/15.4 MB 5.1 MB/s eta 0:00:03
   ------------ --------------------------- 4.9/15.4 MB 5.1 MB/s eta 0:00:03
   ------------- -------------------------- 5.0/15.4 MB 5.0 MB/s eta 0:00:03
   ------------- -------------------------- 5.3/15.4 MB 4.9 MB/s eta 0:00:03
   -------------- ------------------------- 5.5/15.4 MB 4.9 MB/s eta 0:00:03
   -------------- ------------------------- 5.7/15.4 MB 5.0 MB/s eta 0:00:02
   --------------- ------------------------ 6.0/15.4 MB 5.0 MB/s eta 0:00:02
   --------------- ------------------------ 6.2/15.4 MB 4.9 MB/s eta 0:00:02
   ---------------- ----------------------- 6.4/15.4 MB 4.9 MB/s eta 0:00:02
   ----------------- ---------------------- 6.6/15.4 MB 4.9 MB/s eta 0:00:02
   ----------------- ---------------------- 6.8/15.4 MB 4.9 MB/s eta 0:00:02
   ------------------ --------------------- 7.0/15.4 MB 4.9 MB/s eta 0:00:02
   ------------------ --------------------- 7.3/15.4 MB 4.9 MB/s eta 0:00:02
   ------------------- -------------------- 7.6/15.4 MB 5.0 MB/s eta 0:00:02
   -------------------- ------------------- 7.9/15.4 MB 5.0 MB/s eta 0:00:02
   --------------------- ------------------ 8.2/15.4 MB 5.0 MB/s eta 0:00:02
   ---------------------- ----------------- 8.5/15.4 MB 5.1 MB/s eta 0:00:02
   ---------------------- ----------------- 8.8/15.4 MB 5.1 MB/s eta 0:00:02
   ----------------------- ---------------- 9.2/15.4 MB 5.2 MB/s eta 0:00:02
   ------------------------ --------------- 9.5/15.4 MB 5.2 MB/s eta 0:00:02
   ------------------------- -------------- 9.7/15.4 MB 5.2 MB/s eta 0:00:02
   -------------------------- ------------- 10.0/15.4 MB 5.3 MB/s eta 0:00:02
   -------------------------- ------------- 10.4/15.4 MB 5.4 MB/s eta 0:00:01
   --------------------------- ------------ 10.6/15.4 MB 5.4 MB/s eta 0:00:01
   ---------------------------- ----------- 11.0/15.4 MB 5.5 MB/s eta 0:00:01
   ----------------------------- ---------- 11.3/15.4 MB 5.5 MB/s eta 0:00:01
   ------------------------------ --------- 11.6/15.4 MB 5.5 MB/s eta 0:00:01
   ------------------------------- -------- 12.0/15.4 MB 5.5 MB/s eta 0:00:01
   ------------------------------- -------- 12.3/15.4 MB 5.6 MB/s eta 0:00:01
   -------------------------------- ------- 12.6/15.4 MB 5.6 MB/s eta 0:00:01
   --------------------------------- ------ 12.9/15.4 MB 5.6 MB/s eta 0:00:01
   ---------------------------------- ----- 13.2/15.4 MB 5.6 MB/s eta 0:00:01
   ----------------------------------- ---- 13.5/15.4 MB 5.6 MB/s eta 0:00:01
   ----------------------------------- ---- 13.8/15.4 MB 5.6 MB/s eta 0:00:01
   ------------------------------------ --- 14.2/15.4 MB 5.7 MB/s eta 0:00:01
   ------------------------------------- -- 14.5/15.4 MB 5.9 MB/s eta 0:00:01
   -------------------------------------- - 14.7/15.4 MB 6.0 MB/s eta 0:00:01
   ---------------------------------------  15.1/15.4 MB 6.1 MB/s eta 0:00:01
   ---------------------------------------  15.4/15.4 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  15.4/15.4 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  15.4/15.4 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------- 15.4/15.4 MB 5.8 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0
Note: you may need to restart the kernel to use updated packages.

In [15]:
import mysql.connector

#Membuat koneksi ke MySQL
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="houseprices1"
)

#Membuat objek cursor untuk mengeksekusi kueri
cursor = connection.cursor()

try:
    #Mengeksekusi kueri SQL
    my_query = "SELECT * FROM rayhan_excel;"
    cursor.execute(my_query)
    
    #Mengambil semua hasil kueri
    result = cursor.fetchall()
    
    #Menampilkan hasil kueri
    print("\nHasil Kueri:")
    for row in result:
        print(row)
        
finally:
    #Menutup kursor dan koneksi
    cursor.close()
    connection.close()

Hasil Kueri:
(69100, 1600, 2, 2, 3, 'No', 'North')
(81300, 1650, 3, 2, 3, 'No', 'North')
(82300, 1910, 3, 2, 4, 'No', 'East')
(83600, 1990, 3, 3, 4, 'No', 'North')
(90300, 2050, 3, 2, 6, 'No', 'North')
(90500, 1520, 2, 2, 3, 'No', 'North')
(91100, 1860, 2, 2, 3, 'No', 'North')
(91700, 1690, 3, 2, 3, 'No', 'North')
(93600, 2140, 3, 2, 4, 'No', 'North')
(94700, 1980, 3, 2, 3, 'No', 'East')
(97800, 2010, 2, 2, 4, 'No', 'North')
(99300, 1700, 3, 2, 2, 'No', 'East')
(100900, 1610, 2, 2, 2, 'No', 'North')
(102500, 1900, 3, 3, 3, 'No', 'North')
(102600, 1910, 3, 2, 4, 'No', 'North')
(102700, 1900, 4, 2, 4, 'No', 'North')
(103200, 1810, 3, 2, 3, 'No', 'East')
(103200, 2010, 3, 2, 5, 'No', 'North')
(104000, 1730, 3, 3, 3, 'No', 'East')
(105600, 1990, 2, 2, 3, 'No', 'East')
(105600, 1930, 3, 3, 3, 'No', 'East')
(106100, 1820, 3, 2, 3, 'Yes', 'North')
(106600, 1560, 2, 2, 1, 'No', 'East')
(106900, 1900, 2, 2, 2, 'No', 'North')
(107300, 1650, 3, 2, 3, 'No', 'North')
(107500, 1700, 3, 2, 3, 'Yes', 'North')
(108200, 1740, 3, 2, 2, 'No', 'North')
(108500, 2130, 3, 2, 4, 'No', 'North')
(108700, 2110, 3, 2, 3, 'No', 'East')
(109700, 1920, 2, 2, 4, 'No', 'North')
(110400, 1930, 2, 3, 3, 'No', 'North')
(111100, 1450, 2, 2, 1, 'Yes', 'North')
(111400, 1700, 2, 2, 1, 'Yes', 'East')
(111600, 1710, 2, 2, 1, 'No', 'North')
(112300, 1930, 2, 2, 2, 'Yes', 'North')
(113500, 2070, 2, 2, 2, 'No', 'North')
(113800, 2000, 3, 2, 4, 'No', 'North')
(114200, 2030, 4, 2, 3, 'No', 'East')
(114300, 1790, 2, 2, 2, 'No', 'East')
(114600, 1780, 3, 2, 2, 'No', 'North')
(114800, 1740, 3, 2, 1, 'No', 'East')
(114900, 1740, 2, 2, 2, 'No', 'North')
(115700, 2000, 3, 2, 3, 'Yes', 'North')
(115900, 1980, 2, 2, 2, 'No', 'East')
(116200, 1790, 3, 2, 3, 'No', 'East')
(116500, 2150, 3, 2, 2, 'No', 'East')
(117000, 1990, 3, 3, 3, 'Yes', 'East')
(117100, 2080, 3, 3, 3, 'No', 'North')
(117400, 2150, 2, 3, 4, 'No', 'North')
(117500, 1880, 2, 2, 2, 'No', 'North')
(117800, 2000, 2, 2, 3, 'No', 'North')
(117800, 1920, 3, 2, 2, 'No', 'North')
(119200, 2110, 4, 2, 3, 'No', 'East')
(119700, 1900, 3, 3, 3, 'Yes', 'East')
(119800, 2130, 3, 3, 3, 'No', 'East')
(120500, 1910, 2, 3, 2, 'No', 'East')
(121300, 2130, 3, 2, 3, 'No', 'North')
(123000, 1870, 2, 2, 2, 'Yes', 'East')
(123100, 2260, 3, 3, 5, 'No', 'East')
(123600, 1940, 2, 2, 2, 'Yes', 'East')
(124500, 2010, 4, 3, 2, 'No', 'East')
(124600, 2250, 3, 3, 4, 'No', 'North')
(125700, 1720, 2, 2, 2, 'Yes', 'East')
(125700, 2040, 3, 3, 2, 'No', 'East')
(126200, 2210, 3, 3, 4, 'No', 'North')
(126300, 2150, 3, 3, 5, 'Yes', 'North')
(126800, 2000, 2, 2, 1, 'Yes', 'East')
(127700, 1930, 3, 3, 2, 'No', 'North')
(129800, 1990, 2, 3, 2, 'No', 'North')
(129800, 1930, 3, 2, 2, 'No', 'West')
(130300, 1860, 3, 2, 2, 'No', 'West')
(130800, 2100, 3, 2, 3, 'No', 'North')
(131300, 1720, 3, 2, 1, 'No', 'West')
(132500, 2030, 3, 2, 3, 'Yes', 'East')
(133300, 2440, 3, 3, 3, 'No', 'East')
(133600, 1840, 4, 3, 2, 'No', 'West')
(134000, 1890, 3, 2, 1, 'Yes', 'East')
(135000, 2250, 3, 3, 3, 'Yes', 'East')
(136800, 2410, 3, 3, 4, 'No', 'East')
(137000, 2000, 4, 2, 3, 'No', 'West')
(138100, 1840, 3, 3, 1, 'No', 'West')
(139600, 2280, 5, 3, 4, 'Yes', 'East')
(140900, 2190, 3, 2, 3, 'Yes', 'East')
(142600, 2110, 3, 2, 2, 'No', 'West')
(143100, 1920, 4, 2, 2, 'No', 'West')
(143400, 2190, 3, 3, 4, 'Yes', 'East')
(143600, 1780, 4, 2, 1, 'No', 'West')
(144200, 2140, 3, 3, 3, 'No', 'West')
(144800, 2060, 2, 2, 1, 'Yes', 'East')
(145500, 2060, 3, 2, 1, 'No', 'West')
(145800, 1780, 4, 2, 1, 'No', 'West')
(146900, 2530, 4, 3, 4, 'No', 'West')
(147000, 2420, 4, 3, 4, 'No', 'West')
(147100, 2190, 3, 3, 4, 'Yes', 'East')
(147700, 2410, 3, 3, 2, 'No', 'East')
(147900, 2160, 4, 3, 3, 'Yes', 'East')
(149300, 2290, 4, 3, 3, 'No', 'North')
(149900, 2020, 3, 3, 1, 'No', 'West')
(150200, 1950, 3, 2, 3, 'Yes', 'North')
(150700, 2160, 4, 2, 2, 'No', 'West')
(151100, 2100, 3, 2, 3, 'Yes', 'East')
(151600, 1830, 3, 3, 3, 'Yes', 'West')
(151900, 2040, 4, 3, 3, 'No', 'East')
(152300, 2240, 4, 3, 3, 'No', 'West')
(152500, 1970, 2, 2, 1, 'Yes', 'West')
(154000, 1920, 3, 2, 1, 'Yes', 'East')
(155400, 2090, 4, 2, 1, 'No', 'West')
(156400, 2210, 4, 3, 2, 'Yes', 'East')
(157100, 2080, 3, 3, 2, 'No', 'East')
(157600, 2160, 4, 2, 1, 'No', 'West')
(160600, 2150, 4, 3, 3, 'Yes', 'West')
(161300, 2220, 4, 3, 2, 'No', 'West')
(164800, 2050, 2, 2, 1, 'Yes', 'West')
(165600, 2080, 4, 3, 3, 'No', 'West')
(166500, 1940, 3, 3, 2, 'Yes', 'West')
(166700, 1950, 3, 3, 3, 'Yes', 'West')
(167200, 1920, 3, 3, 2, 'Yes', 'West')
(171000, 2080, 3, 3, 2, 'Yes', 'West')
(172500, 1880, 3, 3, 1, 'Yes', 'West')
(176500, 2280, 4, 3, 3, 'Yes', 'West')
(176800, 2590, 4, 3, 4, 'No', 'West')
(180900, 2200, 3, 3, 1, 'No', 'West')
(182000, 2250, 4, 3, 3, 'Yes', 'West')
(184300, 2140, 4, 3, 2, 'Yes', 'West')
(188000, 2040, 4, 3, 1, 'Yes', 'West')
(188300, 2250, 4, 3, 2, 'Yes', 'West')
(199500, 2290, 5, 4, 1, 'Yes', 'West')
(211200, 2440, 4, 3, 3, 'Yes', 'West')

In [16]:
import pandas as pd
#Mengonversi hasil kueri ke DataFrame pandas
df = pd.DataFrame(result, columns=[desc[0] for desc in cursor.description])

#Filter data berdasarkan kolom 'Brick' yang bernilai 'No'
df_filtered = df[df['Brick'] == 'No']

#Menampilkan hasil filter
print("\nHasil Filter:")
print(df_filtered)

Hasil Filter:
      Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0     69100  1600         2          2       3    No        North
1     81300  1650         3          2       3    No        North
2     82300  1910         3          2       4    No         East
3     83600  1990         3          3       4    No        North
4     90300  2050         3          2       6    No        North
..      ...   ...       ...        ...     ...   ...          ...
109  157600  2160         4          2       1    No         West
111  161300  2220         4          3       2    No         West
113  165600  2080         4          3       3    No         West
120  176800  2590         4          3       4    No         West
121  180900  2200         3          3       1    No         West

[86 rows x 7 columns]

In [18]:
import pandas as pd
#Mengonversi hasil kueri ke DataFrame pandas
df = pd.DataFrame(result, columns=[desc[0] for desc in cursor.description])

#Filter data berdasarkan kondisi yang kompleks
df_filtered = df[(df['Brick'] == 'No') | (df['Neighborhood'] == 'East')]

#Menampilkan hasil filter
print(df_filtered)

      Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0     69100  1600         2          2       3    No        North
1     81300  1650         3          2       3    No        North
2     82300  1910         3          2       4    No         East
3     83600  1990         3          3       4    No        North
4     90300  2050         3          2       6    No        North
..      ...   ...       ...        ...     ...   ...          ...
109  157600  2160         4          2       1    No         West
111  161300  2220         4          3       2    No         West
113  165600  2080         4          3       3    No         West
120  176800  2590         4          3       4    No         West
121  180900  2200         3          3       1    No         West

[105 rows x 7 columns]

In [20]:
import mysql.connector

#Membuat koneksi ke MySQL
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="ps2[rayhan]"
)

#Membuat objek cursor untuk mengeksekusi kueri
cursor = connection.cursor()

try:
    #Mengeksekusi kueri SQL
    my_query = "SELECT * FROM data_nama;"
    cursor.execute(my_query)
    
    #Mengambil semua hasil kueri
    result = cursor.fetchall()
    
    #Menampilkan hasil kueri
    print("\nHasil Kueri:")
    for row in result:
        print(row)
        
finally:
    #Menutup kursor dan koneksi
    cursor.close()
    connection.close()

Hasil Kueri:
('Akbar', 'L', 2023, 170, 30, 'Grogol')
('Rayhan', 'L', 2023, 170, 30, 'Grogol')
('Moammar', 'L', 2023, 170, 30, 'Grogol')
('Dewanto', 'L', 2023, 170, 30, 'Grogol')
('Jet', 'L', 2023, 170, 30, 'Grogol')
('Tanaya', 'P', 2023, 170, 30, 'Grogol')
('April', 'P', 2023, 170, 30, 'Grogol')
('Dafasyah', 'L', 2023, 170, 30, 'Grogol')
('Rifqi', 'L', 2023, 170, 30, 'Grogol')
('Syifa', 'P', 2023, 170, 30, 'Grogol')
('Andrew', 'L', 2023, 170, 30, 'Grogol')
('Dyah', 'P', 2023, 170, 30, 'Grogol')
('Putra', 'L', 2023, 170, 30, 'Grogol')
('Aditya', 'L', 2023, 170, 30, 'Grogol')
('Almakius', 'L', 2023, 170, 30, 'Grogol')
('Partahi', 'L', 2023, 170, 30, 'Grogol')
('Muhammad', 'L', 2023, 170, 30, 'Grogol')
('Nicholas', 'L', 2023, 170, 30, 'Grogol')
('Nadhira', 'P', 2023, 170, 30, 'Grogol')
('Aurel', 'L', 2023, 170, 30, 'Grogol')
('Muhammad', 'L', 2023, 170, 30, 'Grogol')
('Nicodemus', 'L', 2023, 170, 30, 'Grogol')
('Kevin', 'L', 2023, 170, 30, 'Grogol')
('Monica', 'P', 2023, 170, 30, 'Grogol')
('Gwen', 'P', 2023, 170, 30, 'Grogol')
('Naswa', 'P', 2023, 170, 30, 'Grogol')
('Bahrudin', 'L', 2023, 170, 30, 'Grogol')
('Francisco', 'L', 2023, 170, 30, 'Grogol')
('Nalendra', 'L', 2023, 170, 30, 'Grogol')

In [21]:
import pandas as pd
#Mengonversi hasil kueri ke DataFrame pandas
df = pd.DataFrame(result, columns=[desc[0] for desc in cursor.description])

#Filter data berdasarkan kolom 'Brick' yang bernilai 'No'
df_filtered = df[df['Gender'] == 'L']

#Menampilkan hasil filter
print("\nHasil Filter:")
print(df_filtered)

Hasil Filter:
         Nama Gender  Angkatan  Tinggi Badan  Waktu Perjalanan Wilayah Tinggal
0       Akbar      L      2023           170                30          Grogol
1      Rayhan      L      2023           170                30          Grogol
2     Moammar      L      2023           170                30          Grogol
3     Dewanto      L      2023           170                30          Grogol
4         Jet      L      2023           170                30          Grogol
7    Dafasyah      L      2023           170                30          Grogol
8       Rifqi      L      2023           170                30          Grogol
10     Andrew      L      2023           170                30          Grogol
12      Putra      L      2023           170                30          Grogol
13     Aditya      L      2023           170                30          Grogol
14   Almakius      L      2023           170                30          Grogol
15    Partahi      L      2023           170                30          Grogol
16   Muhammad      L      2023           170                30          Grogol
17   Nicholas      L      2023           170                30          Grogol
19      Aurel      L      2023           170                30          Grogol
20   Muhammad      L      2023           170                30          Grogol
21  Nicodemus      L      2023           170                30          Grogol
22      Kevin      L      2023           170                30          Grogol
26   Bahrudin      L      2023           170                30          Grogol
27  Francisco      L      2023           170                30          Grogol
28   Nalendra      L      2023           170                30          Grogol